.page-panel {
	display: block;
	min-width: 300px;
	background-color: var(--secondary-light-color);
	color: var(--secondary-ultradark-color);
}

@media (max-width:  790px) {
	.page-panel {
		display: none;
	}
}
