.account-table {
	width: 100%;
}

.account-table__header {
	height: 2.5rem;
	background-color: var(--primary-color);
	color: var(--primary-text-color);
}

.account-table__data {
	height: 2.5rem;
	text-align: center;
	font-weight: bold;
	background-color: var(--primary-light-color);
}

.account-table__data:nth-child(2n+1) {
	background-color: var(--primary-ultralight-color);
}