.page-layout {
	display: grid;
	grid-template-columns: auto 1fr;
	grid-gap: 1rem;
}
.page-menu {
	max-width: 300px;
	min-width: 200px;
	overflow: hidden;
	padding-top: 1rem;
}

.page-main {
	display: grid;
	grid-template-rows: auto;
	grid-gap: 3rem;
	padding-right: 1rem;
}