.account {
	display: grid;
	grid-template-rows: auto;
	grid-gap: 1.2rem;
	border-bottom: 2px dotted var(--active-bg-color);
	padding-bottom: 2rem;
}

.account-plan-table {
	width: 100%;
}

.account-plan-table__head {
	height: 2.5rem;
	background-color: var(--primary-bg-color);
	color: var(--active-text-color);
}
.account-plan-table__data {
	height: 2.5rem;
	text-align: center;
	font-weight: bold;
	background-color: var(--light-bg-color);
}

.account-equipments-table {
	width: 100%;
}

.account-equipments-table__head {
	height: 2.5rem;
	background-color: var(--primary-bg-color);
	color: var(--active-text-color);
}

.account-equipments-table__data {
	height: 2.5rem;
	text-align: center;
	font-weight: bold;
	background-color: var(--ultralight-bg-color);
}

.account-equipments-table__data:nth-child(2n+1) {
	background-color: var(--light-bg-color);
}

.account-benefits-table {
	width: 100%;
}

.account-benefits-table__head {
	height: 2.5rem;
	background-color: var(--primary-bg-color);
	color: var(--active-text-color);
}

.account-benefits-table__data {
	height: 2.5rem;
	text-align: center;
	font-weight: bold;
	background-color: var(--ultralight-bg-color);
}

.account-benefits-table__data:nth-child(2n+1) {
	background-color: var(--light-bg-color);
}
