.anchor-item {
	display: block;
	background-color: var(--primary-color);
	font-weight: bold;
	font-size: 1.1rem;
	min-height: 50px;
	padding-left: 1rem;
	line-height: 50px;
}

.anchor-item--active {
	background-color: var(--secondary-light-color);
	color: var(--secondary-ultradark-color);
}

.anchor-item a {
	text-decoration: none;
	display: block;
	line-height: 50px;
	color: var(--primary-text-color);
}